In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [ ]:
def total_df(merged, name_str):
  temp = pd.read_csv(f'/content/drive/MyDrive/final_project/{name_str}.csv',index_col=0)
  temp.drop_duplicates(subset='headline',inplace=True)
  return pd.concat([merged,temp])

# 5개년 데이터와 10개년 데이터 크롤링이 중복되어있어 10년 데이터에 맞게 전부 read 후 concat 진행하기
names = ['삼성전자','sk','lg화학','naver','현대자동차','celltrion','셀트리온','posco','POSCO','카카오','kakao','KB금융','kb','신한지주']
df = pd.DataFrame()
for name in names:
  df = total_df(df, name)

df

       name                               headline        date  change
0      삼성전자          [TV] 재계 총수들, 일자리 창출과 투자 확대 강조  2012-01-02       1
1      삼성전자        재계 총수들의 올해 첫 화두는 ‘위기’ ‘투자’ ‘인재’  2012-01-02       1
2      삼성전자       [경제 굿&노굿] CEO들 신년사로 보는 2012 경제전망  2012-01-02       1
4      삼성전자                 재계 빅3 공격적 투자‥나머지는 '흐림'  2012-01-02       1
5      삼성전자                     오너 3세들 '전진배치' 명과 암  2012-01-02       1
...     ...                                    ...         ...     ...
37078  신한지주           신한 디지털 vs 국민 변화… 카드 리딩금융 승부수  2021-12-30       0
37079  신한지주         순혈주의 이어 유리천장도 깨진다…은행권에 부는 '여풍'  2021-12-30       0
37080  신한지주  “리딩금융 승자, 비은행이 가른다” 신한 vs KB, ‘보험 전쟁’  2021-12-30       0
37081  신한지주   은행 개발자 몸값 더 높아진다...부서 넘나들며 플랫폼 특명 완수  2021-12-30       0
37082  신한지주     배당락에 3000선 내줬지만…“코스피 하락폭 예상보다 작았다”  2021-12-30       0

[419444 rows x 4 columns]

In [ ]:
df.reset_index(inplace=True)
del df['index']
df

        name                               headline        date  change
0       삼성전자          [TV] 재계 총수들, 일자리 창출과 투자 확대 강조  2012-01-02       1
1       삼성전자        재계 총수들의 올해 첫 화두는 ‘위기’ ‘투자’ ‘인재’  2012-01-02       1
2       삼성전자       [경제 굿&노굿] CEO들 신년사로 보는 2012 경제전망  2012-01-02       1
3       삼성전자                 재계 빅3 공격적 투자‥나머지는 '흐림'  2012-01-02       1
4       삼성전자                     오너 3세들 '전진배치' 명과 암  2012-01-02       1
...      ...                                    ...         ...     ...
419439  신한지주           신한 디지털 vs 국민 변화… 카드 리딩금융 승부수  2021-12-30       0
419440  신한지주         순혈주의 이어 유리천장도 깨진다…은행권에 부는 '여풍'  2021-12-30       0
419441  신한지주  “리딩금융 승자, 비은행이 가른다” 신한 vs KB, ‘보험 전쟁’  2021-12-30       0
419442  신한지주   은행 개발자 몸값 더 높아진다...부서 넘나들며 플랫폼 특명 완수  2021-12-30       0
419443  신한지주     배당락에 3000선 내줬지만…“코스피 하락폭 예상보다 작았다”  2021-12-30       0

[419444 rows x 4 columns]

### 전체 데이터셋 구성
- 2012.01.01-2021.12.31 (주식 시장 개장일기준 6년 데이터 최대 20개씩 크롤링)
- 2016 - 2020은 train, 2021은 test로 사용 예정


- title 기준 중복 제거 전 215144개
- title 기준 중복 제거 후 212244개
  - 약 3000개의 중복 headline 제거

In [ ]:
df['date'] = pd.to_datetime(df['date'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 419444 entries, 0 to 419443
Data columns (total 4 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   name      419444 non-null  object
 1   headline  419444 non-null  object
 2   date      419444 non-null  datetime64[ns]
 3   change    419444 non-null  int64
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 12.8+ MB

In [ ]:
df.to_csv('/content/drive/MyDrive/final_project/crawling_datasets.csv',encoding='utf-8')